@use "sass:math";

@function ch-calculate-alpha($topColor, $bottomColor, $targetColor) {
  $topRgb: red($topColor), green($topColor), blue($topColor);
  $bottomRgb: red($bottomColor), green($bottomColor), blue($bottomColor);
  $targetRgb: red($targetColor), green($targetColor), blue($targetColor);
  $alphaAvg: 0;

  @for $i from 1 through 3 {
    $alphaAvg: math.div($alphaAvg * ($i - 1) + math.div(nth($targetRgb, $i) - nth($bottomRgb, $i), nth($topRgb, $i) - nth($bottomRgb, $i)), $i);
  }

  @return $alphaAvg;
}

@function ch-calculate-top-color($alpha, $bottomColor, $targetColor) {
  $topRgb: ();
  $bottomRgb: red($bottomColor), green($bottomColor), blue($bottomColor);
  $targetRgb: red($targetColor), green($targetColor), blue($targetColor);

  @for $i from 1 through 3 {
    $topRgb: append($topRgb, math.div(nth($targetRgb, $i) - (1 - $alpha) * nth($bottomRgb, $i), $alpha));
  }

  @return rgb(nth($topRgb, 1), nth($topRgb, 2), nth($topRgb, 3));
}

