* {
  margin: 0;
  padding: 0; }

html {
  background: #DEDEDE; }

body {
  font-size: 18px;
  font-family: "Helvetica neue", Helvetica, Arial, "MS Trebuchet", sans-serif;
  margin: 10px auto;
  max-width: 600px;
  color: #212121; }

a {
  color: #B82C2C; }

a:hover {
  color: #912323; }

img {
  border: 0; }

h1 {
  font-size: 2.8em;
  padding: 2px 20px;
  text-align: center; }

h1 a {
  color: #212121;
  text-shadow: #fff 0 1px 1px;
  text-decoration: none; }

h1 a:hover {
  color: #212121; }

h1 em {
  color: #d33;
  font-style: normal; }

h2 {
  font-size: 1em; }

h2, p, li {
  margin-bottom: 5px; }

ul, ol {
  padding-left: 1.5em; }

.subtitle {
  font-size: .8em;
  padding: 0 100px;
  text-align: center;
  margin-bottom: 15px; }

body > div:not(#header) {
  background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 8px; }

address {
  font-style: normal;
  padding: 0 10px 10px;
  text-align: center;
  font-size: .7em; }

.button, .special-button {
  display: inline-block;
  text-decoration: none;
  line-height: 20px;
  height: 20px;
  padding: 10px;
  margin: 11px;
  border: 1px solid;
  border-radius: 3px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  color: #5d7732;
  border-color: #8fb74d;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 2px 2px -2px white, 0 0 0 11px rgba(143, 183, 77, 0.18);
  background: linear-gradient(#b1e260, #9fcb56); }
  .button:hover, .special-button:hover {
    color: #71903d; }

.special-button {
  color: #72702e;
  border-color: #b2ae48;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 2px 2px -2px white, 0 0 0 11px rgba(178, 174, 72, 0.18);
  background: linear-gradient(#ddd859, #c6c250); }
  .special-button:hover {
    color: #8b8938; }

.button.disabled, .disabled.special-button {
  color: #787878;
  border-color: #b8b8b8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 2px 2px -2px white, 0 0 0 11px rgba(184, 184, 184, 0.18);
  background: linear-gradient(#e3e3e3, #cccccc); }
  .button.disabled:hover, .disabled.special-button:hover {
    color: #919191; }

.button.good-contrast, .good-contrast.special-button {
  color: #5d7732;
  border-color: #8fb74d;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 2px 2px -2px white, 0 0 0 11px rgba(143, 183, 77, 0.18);
  background: linear-gradient(#b1e260, #9fcb56); }
  .button.good-contrast:hover, .good-contrast.special-button:hover {
    color: #71903d; }

.button.bad-contrast, .bad-contrast.special-button {
  color: black;
  border-color: black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 2px 2px -2px white, 0 0 0 11px rgba(0, 0, 0, 0.18);
  background: linear-gradient(#171717, black); }
  .button.bad-contrast:hover, .bad-contrast.special-button:hover {
    color: #1a1a1a; }

.button.smart-contrast, .smart-contrast.special-button {
  color: #121212;
  border-color: #525252;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 2px 2px -2px white, 0 0 0 11px rgba(82, 82, 82, 0.18);
  background: linear-gradient(#7d7d7d, #666666);
  color: #e6e6e6;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4); }
  .button.smart-contrast:hover, .smart-contrast.special-button:hover {
    color: #2b2b2b; }
  .button.smart-contrast:hover, .smart-contrast.special-button:hover {
    color: #cccccc; }

.button.smart-light-contrast, .smart-light-contrast.special-button {
  color: #72702e;
  border-color: #b2ae48;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 2px 2px -2px white, 0 0 0 11px rgba(178, 174, 72, 0.18);
  background: linear-gradient(#ddd859, #c6c250);
  color: #72702e; }
  .button.smart-light-contrast:hover, .smart-light-contrast.special-button:hover {
    color: #8b8938; }
